<div class="container-fluid d-flex flex-column justify-content-between" id="mainContainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-center mt-3 mb-3">
        <img src="" alt="">
      </div>
      <h3 class="m-0">{{productDetail().title}}</h3>
      <h5 class="m-0">Termék rovid leírása</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p class="text-end m-0 price">{{productDetail().price}} Ft</p>

      <div class="d-flex justify-content-center mb-3 mt-1">
        <button (click)="navigate()">Megtekintés</button>
      </div>
    </div>
  </div>
</div>
