<div class="container-fluid" id="mainContainer">
  <div class="row h-100">
    <div class="col-lg-12 h-100 d-flex justify-content-center align-items-center">
      <div class="container-fluid" id="secondContainer">
        <div class="row h-100">
          <div class="col-lg-12 py-3 px-5 h-100 d-flex flex-column justify-content-between">
            <h1 class="text-center text-white mt-3">Kosaram:</h1>
            <div style="height: 600px; overflow: auto;">
              @for (book of basketService.usersBasket.productList; track $index) {
                <app-basket-card [book]="book" (changeAmount)="changeAmount($event, $index)"/>
              }
            </div>

            <div class="d-flex flex-column mt-2 justify-content-end align-items-end">
              <h1 class="text-white w-100">Végösszeg:</h1>
              <button [disabled]="basketService.usersBasket.productList?.length == 0" id="continueButton" routerLink="/orderPage/transportDetails">Tovább</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
