.itemCard {
  height: 150px;
  width: 1200px;
  background-color: #776B5D;
  border-radius: 12px;
}

#publisherContainer {
  width: 1200px;
  height: 550px;
  background-color: #B0A695;
  border-radius: 12px;
}

button {
  height: 60px;
  width: 150px;
  background-color: #EBE3D5;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 1250px) {
  .itemCard {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .itemCard {
    height: auto;
  }
}

@media screen and (max-width: 1750px) {
  #publisherContainer {
    width: 100%;
  }
}
