#formContainer {
  background-color: #B0A695;
  border-radius: 12px;
  width: 800px !important;
  height: 650px;
  overflow-y: auto;
}

button {
  width: auto;
  padding: 5px 15px;
  background-color: #EBE3D5;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
