<div class="container-fluid">
  <div class="row" style="margin: 75px auto;">
    <div class="col-lg-5 d-flex justify-content-center align-items-center">
      <img [src]="selectedBook.coverImgPath" alt="">
    </div>

    <div class="col-lg-7">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="text-lg-start text-center my-lg-0 my-3">
              @for (author of selectedBook.authors; track $index) {
              <span>{{author.firstName + " " + author.middleName + " " + author.lastName}}</span>
              }
            </h5>
            <h2 class="text-lg-start text-center">{{selectedBook.title}}</h2>
            <h5 class="text-lg-start text-center">Kiadó: {{selectedBook.publisher.name}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h4 class="text-lg-start text-center">Leírás:</h4>
            <p class="text-lg-start text-center">{{selectedBook.description}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="p-0 list-unstyled">
              <li class="text-lg-start text-center"><span class="fw-bold">Kiadás éve: </span>
                {{selectedBook.publishingYear}}</li>
              <li class="text-lg-start text-center"><span class="fw-bold">ISBN: </span> {{selectedBook.ISBN}}</li>
              <li class="text-lg-start text-center"><span class="fw-bold">Oldalak száma: 0</span></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-12 d-flex flex-lg-column flex-row justify-content-lg-center justify-content-between align-items-end">
            <h2>{{selectedBook.price}} Ft</h2>
            <button (click)="addToCart()" class="text-white">Kosárba rakás</button>
          </div>
        </div>
        <div *ngIf="showAlert" [ngClass]="'alert alert-' + type" class="mt-3">
          {{ message }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <hr>
      <h2 class="text-center">Vélemények:</h2>
      <div class="container-fluid">
        @for (reveiw of selectedBook.reviewList; track $index) {
        <div class="row">
          <div class="col-lg-12">
            <app-review-card [reviewDetail]="reveiw" />
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
