#mainContainer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
}

#secondContainer {
  height: 700px;
  width: 900px;
  background-color: #EBE3D5;
  border-radius: 15px;
}

.orderedProductCard {
  background-color: #B0A695;
  height: 250px !important;
  border-radius: 8px;
}

img {
  height: 100px;
  width: 100px;
}

.textLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.iconButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #776B5D;
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
 .orderedProductCard {
    width: 100% !important;
    height: auto !important;
  }
}

.viewButton, .cancelerButton {
  height: 45px;
  width: auto;
  padding: 5px 15px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
