<div class="container-fluid" id="mainContainer">
  <div class="row h-100">
    <div class="col-lg-12 h-100 d-flex justify-content-center align-items-center">
      <div class="container-fluid" id="secondContainer">
        <div class="row">
          <div class="col-lg-12 mt-3 d-flex justify-content-end align-items-center">
            <button (click)="close.emit()" class="iconButton">
              <span class="material-symbols-outlined">close</span>
            </button>
          </div>
        </div>

        <div class="row py-4">
          <div class="col-lg-5">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h1 class="text-center">Adatok</h1>
                  <ul class="list-unstyled">
                    <li class="textLi"><span class="fw-bold">Név:</span> <span>{{order!.firstName}} {{order!.lastName}} </span></li>
                    <li class="textLi"><span class="fw-bold">E-mail:</span>{{order!.email}}</li>
                    <li class="textLi"><span class="fw-bold">Telefonszám:</span>{{order!.phone}}</li>
                    <li>
                      <span class="fw-bold">Szállitási adatok:</span>
                      <ul class="list-unstyled px-3">
                        <li class="textLi"><span class="fw-bold">Cím:</span> {{transportAddress}}</li>
                        <li class="textLi"><span class="fw-bold">Megjegyzés:</span> {{order!.historyTransportDetail?.other}}</li>
                      </ul>
                    </li>
                    <li>
                      <span class="fw-bold">Számlázási adatok:</span>
                      <ul class="list-unstyled px-3">
                        <li class="textLi"><span class="fw-bold">Cim:</span>{{billingAddress}}</li>
                        <li class="textLi"><span class="fw-bold">Megjegyzés:</span>{{order!.historyBillingDetail?.other}}</li>
                        @if (order!.historyBillingDetail!.companyName != null) {
                          <li class="textLi"><span class="fw-bold">Cég:</span></li>
                          <li class="textLi"><span class="fw-bold">Adó szám:</span></li>
                        }
                      </ul>
                    </li>
                    <li class="textLi"><span class="fw-bold">Rendelve ekkor:</span> {{order!.orderedAt | date: "yyyy-MM-dd"}}</li>
                    @if (order!.isCanceled) {
                      <li class="textLi"><span class="fw-bold">Lemondva ekkor:</span></li>
                    }
                  </ul>
                  <div class="w-100 d-flex justify-content-lg-start justify-content-center">
                    <button class="cancelerButton" [disabled]="order!.isCanceled" (click)="cancelAddress()">Rendelés lemondása</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7" style="overflow: auto;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 my-lg-0 mt-4">
                  <h1 class="text-center">Rendelt termékek</h1>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  @for (orderedProduct of order!.orderHistoryProductList; track $index) {
                    <div class="container-fluid orderedProductCard p-4 h-100 d-flex justify-content-center align-items-center">
                      <div class="row w-100">
                        <div class="col-lg-12 col-8">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-lg-8">
                                <h2>{{orderedProduct.orderHistoryBook.title}}</h2>
                              </div>
                              <div class="col-lg-4 d-flex flex-column justify-content-end">
                                <div>
                                  <p class="text-end m-0">
                                    <span>{{orderedProduct.amount}} db</span>
                                    <span>{{orderedProduct.amount * orderedProduct.orderHistoryBook.price}} Ft</span>
                                  </p>
                                </div>
                                <button class="viewButton" routerLink="/productDetail/${{orderedProduct.orderHistoryBook.id}}">Megtekintés</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
