<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">

          <div class="col-md-3 mx-auto">
            <h5>Linkek</h5>
            <ul class="list-unstyled">
              <li><a href="#">Főoldal</a></li>
              <li><a href="#">Rólunk</a></li>
            </ul>
          </div>

          <div class="col-md-3 mx-auto">
            <h5>Kapcsolat</h5>
            <p>Email: konyvaura@gmail.com</p>
          </div>

          <div class="col-md-3 mx-auto">
            <h5>Kövess minket</h5>
            <p>Facebook</p>
          </div>

        </div>

        <hr>

        <p class="text-center mb-0">© 2026 Minden jog fenntartva</p>
      </div>
    </div>
  </div>
</div>
